[submodule "battlecraft-frontend"]
	path = battlecraft-frontend
	url = git@github.com:BattleCraftDev/battlecraft-frontend.git
[submodule "battlecraft-admin"]
	path = battlecraft-admin
	url = git@github.com:BattleCraftDev/battlecraft-admin.git
[submodule "battlecraft-api"]
	path = battlecraft-api
	url = git@github.com:BattleCraftDev/battlecraft-api.git
